@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
	font-family: "Quicksand", sans-serif;
	color: #eee;
	--fidoworld-i-font-color-dark: #88f;
	--fidoworld-u-font-color-dark: #8f8;
	--fidoworld-s-font-color-dark: #666;
	--fidoworld-a-font-color-dark: #f7f;
	--fidoworld-b-font-color-dark: #f88;
}
body {
	background-color: #121212;
}
mainpage {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	flex-direction: column;
	align-items: center;
}
section.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
section.links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
a {
	margin-left: 5px;
	margin-right: 5px;
	transition: .3s ease-in-out all;
}
a:hover {
	color: #fff;
	text-shadow: 0 0 5px #aaa, 0 0 10px #aaa;
}
p, h2, h3, h4{
	margin: 2px;
}
p {
	text-align: center;
}
input.searchbar {
	outline: none!important;
	border: none;
	border-bottom: 2px solid #999;
	padding: 5px;
	width: 500px;
	height: 25px;
    background-color: #121212;
	transition: .3s all ease-in-out;
}
input.searchbar::placeholder {
	transition: .3s all ease-in-out;
}
input.searchbar:focus {
	border-bottom: 2px solid #fff!important;
}
input.searchbar:focus::placeholder {
	letter-spacing: 1.5px;
}
input.submit, button:not(button[no-button-style]) {
    background-color: #121212;
	height: 37px;
	width: 100px;
	padding: 5px;
	border: 2px solid #fff;
	border-radius: 25px;
	transition: .3s all ease-in-out;
}
input.submit:hover, button:not(button[no-button-style]):hover {
    background-color: #fff;
	color: #121212;
    box-shadow: 0 0 5px #aaa,
	0 0 10px #aaa;
	cursor: pointer;
	transform: translateY(-5px);
	letter-spacing: 3px;
}
[no-underline] {
	text-decoration: none;
	margin: 0;
}
select {
	background-color: #121212;
	border: 1px solid #fff;
	border-radius: 5px;
	transition: .3s all ease-in-out;
}
select:hover {
    box-shadow: 0 0 5px #aaa,
	0 0 10px #aaa;
	cursor: pointer;
	transform: translateY(-5px);
}
div.colorbar {
	border: 2px solid #fff;
	background-image: linear-gradient(to right, #000 0%, #000 calc(10 / 275 * 100%), #fff calc(265 / 275 * 100%), #fff 100%);
	width: 275px;
	height: 20px;
	display: flex;
	position: relative;
	border-radius: 12px;
}
div.colorbar div.img {
	position: absolute;
	top: -1px;
	left: -1px;
	border: 1px solid #fff;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	transition: .3s all ease-in-out;
}
div.colorbar div.img:nth-child(1) {
	transform: translateX(18px);
	border: 2px solid #ededed;
}
div.colorbar div.img:nth-child(2) {
	transform: translateX(170px);
	border: 2px solid #555555;
}
div.colorbar div.img:nth-child(3) {
	transform: translateX(238px);
	border: 2px solid #111111;
}
div.colorbar div.img:nth-child(4) {
	transform: translateX(255px);
	border: 2px solid #000000;
}
div[bordered] {
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 5px;
	transition: .3s all ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
}
div[bordered]:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 5px #bbb,
	0 0 10px #bbb;
}
div[require-width-300] {
	
	width: 295px;
	margin: 5px;
}
div.flexdir-row {
	display: flex;
	flex-direction: row;
}
div.flexdir-col {
	display: flex;
	flex-direction: column;
}
.divition {
	display: flex; flex-direction: row;
}
button.delete {
	background-color: #121212;
	color: #f22;
	border: 1px solid #fff;
	border-radius: 5px;
	transition: .3s all ease-in-out;
}
button.delete:hover {
	background-color: #333;
	cursor: pointer;
}
textarea {
	outline-width: 0px!important;
	background-color: #121212;
	border: 2px solid #bbb;
	border-radius: 5px;
	width: 500px;
	resize: vertical;
}
textarea::placeholder {
	transition: .3s all ease-in-out;
}
textarea:focus::placeholder {
	letter-spacing: 3px;
}
.pare .histories {
	transition: .3s all ease-in-out;
	overflow: hidden;
	max-height: 0;
}
.pare .histories.show {
	max-height: 500px;
}
.pare .histories .history {
	transition: .3s all ease-in-out;
}
b, strong { color: var(--fidoworld-b-font-color-dark); }
i, em { color: var(--fidoworld-i-font-color-dark); }
u, ins { color: var(--fidoworld-u-font-color-dark); }
s, del { color: var(--fidoworld-s-font-color-dark); }
a { color: var(--fidoworld-a-font-color-dark); }
code {
	background-color: #555555;
	border-radius: 5px;
	font-family: 'Courier New', Courier, monospace;
}
@media (max-width:769px){
	input.searchbar {width: 300px;}
	.divition {
		flex-direction: column;
		align-items: center;
	}
	input.submit:hover {
		transform: translateY(0px);
	}
	select:hover {
		transform: translateY(0px);
	}
	div.flexdir-row {
		flex-direction: column;
	}
}